{% extends 'main/base.html' %}
{% block title %} STUDENT {% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='header_student'>
        <div class='row'>
            <div class='logo'>
                <img src = "/media/images/ganga.png", height=160, width=180>
            </div>
            <div class='gtc_student'>
                <h1 id='row1_s'>Ganga Technical Campus</h1>  
            </div>
        </div>
    </div>

    <div class='rowt'>
        <h1 align='center', style='font-size:248%; color:antiquewhite;'> Welcome {{data.firstname}} </h1>
    </div>

    <div class='content_admin animated bounceInLeft'>
        <form method='POST'>
            {% csrf_token %}
            <div class ='row'>
                <h2 align='center', style='font-size:150%; color:antiquewhite;'>First of all,  Check out your Dues status at <a href="https://gtc.ifwcampuserp.com">https://gtc.ifwcampuserp.com</a></h2>
                <h2 align='center', style='font-size:120%; color:antiquewhite;'>Your Login Credentials for ERP website are </a></h2>
                <h2 align='center', style='font-size:110%; color:antiquewhite;'>Username - Your rollno </a></h2>
                <h2 align='center', style='font-size:110%; color:antiquewhite;'>Password - 123456 </a></h2>
            </div>

            <div class='row'>
                <div class='a'>
                    <input type= 'submit' name='next' value='Next' id='logout'>
                </div>
            </div>
        </form>
    </div>
    <p align="center" id='about_data'><b>COPYRIGHT &copy; 2014-2020 GTC </b></p>
<!-- !Disclaimer - you must not use this website's template in as it is form - please feel free 
to contact me @ chiragchauhan12323@gmail.com for the source code and implementation in your use case -
After all I too did take some help from the community -->
{% endblock %}