{% extends 'main/base.html' %}
{% block title %} LIBRARY {% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <form method = 'POST' class='form-group'>
        {% csrf_token %}
        {{form|crispy}}
        <h1 id='log' align='center'><b>Payment Details</b></h1>
        <div class="main_payment animated bounceInLeft">
            <h2 align='left' id='pay_link2' style='font-size:100%; color:antiquewhite;'>Name of the Account : Ganga Technical Campus</h2>
            <h2 align='left' id='pay_link2' style='font-size:100%; color:antiquewhite;'>Account No : 917010001216220</h2>
            <h2 align='left' id='pay_link2' style='font-size:100%; color:antiquewhite;'>Name of the Bank : Axis Bank</h2>
            <h2 align='left' id='pay_link2' style='font-size:100%; color:antiquewhite;'>Address of the Bank : Khan Market,New Delhi-110026</h2>
            <h2 align='left' id='pay_link2' style='font-size:100%; color:antiquewhite;'>Bank RTGS/IFSC Code : UTIB0000120</h2>
            
            <h1 id='log' align='center'><b>Add Reciepts</b></h1>

            <div class="rowt">
                <div class='label'>
                    <label>Amount Pending</label>
                </div>

                <div class="field">
                    <input type='text' id='amount' name='amount_pending' placeholder='Amount pending' required>
                </div>
            </div>

            <div class="rowt">
                <div class='label'>
                    <label>Amount Paid</label>
                </div>

                <div class="field">
                    <input type='text' id='amount' name='amount_paid' placeholder='Amount paid' required>
                </div>
            </div>

            <div class="rowt">
                <div class='label'>
                    <label>Transaction ID</label>
                </div>

                <div class="field">
                    <input type='text' id='transaction' name='transaction' placeholder='Transaction id' required>
                </div>
            </div>

            <div class="rowt">
                <div class='label'>
                    <label>Date</label>
                </div>

                <div class="field">
                    <input type='date' id='reciept' max="2021-09-09" name='date' required>
                </div>
            </div>

            <div class="rowt">
                <div class='label'>
                    <label>No. of Books</label>
                </div>

                <div class="field">
                    <input type='number' id='reciept' name='no._of_books' placeholder="No. of books pending to submit" required>
                </div>
            </div>

            <div class='row'>
                <input type='submit' name='save' value='Add' id='add_btn'>
            </div>

        </div>
    </form>
<!-- !Disclaimer - you must not use this website's template in as it is form - please feel free 
to contact me @ chiragchauhan12323@gmail.com for the source code and implementation in your use case -
After all I too did take some help from the community -->
{% endblock %}